body {
	border-top: 10px dashed red;
	border-bottom: 10px ridge red;
	border-right: 10px dotted red;
	border-left: 10px inset red;
	margin: 0;
	padding: 20px;
}

h1 {
	color: red;
	font-size: 40px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
        }

h3 {
	text-indent: 50px;
	text-align: justify;
}

a {
	text-decoration: none;
}

span {
	border: 1px solid gray;
	padding: 10px 20px;
	border-radius: 20px;
	background-color: red;
}

img {
	float: right;
}

.transition {
	width: 50px;
	height: 50px;
	background-color: blue;
	transition: width 2s, height 2s;
}

.transition:hover {
	width: 200px;
	height: 200px;
}

.animation {
	width: 50px;
	height: 50px;
	background-color: red;
	position: relative;
	animation: test 10s linear 2s;
}

@keyframes test {
	0% {background-color: red; left: 0; top: 0;}
	25% {background-color: yellow; left: 300px; top: 0;}
	50% {background-color: green; left: 300px; top: 300px;}
	75% {background-color: pink; left: 0; top: 300px;}
	100% {background-color: red; left: 0; top: 0;}
}
